
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>The Siberian Tatar Language</h4>
<p><b>Corpus and talking dictionary for Siberian Tatar are currently in progress... Please wait...</b> At the moment, here is just general information of data for our Siberian Tatar corpus.</p>
<p>Our first expedition was undertaken to Siberian Tatar village Ilchebaga (Ust’-Ishimsky District, Omsk Oblast, Siberia, Russia) in 2020. We recorded the speech data of 10 speakers (see table below) in this first expedition.
 These speech data are available in our work repository on GitHub and licensed under a Creative Commons Attribution 4.0 license (CC BY 4.0): <a href="https://github.com/ubaleht/SiberianTatar">Siberian Tatar</a>
</p>
<p><b>Description of Speakers:</b></p>
<table width="600">
    <thead>
        <tr>
            <th>The Code of the <br /> Speaker and <br /> Gender</th>
            <th>The Year <br /> of Birth</th>
            <th>Speech Data <br /> (Duration, In Minutes)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AVN-69 (M)</td>
            <td>1969</td>
            <td>2,5</td>
        </tr>
        <tr>
            <td>GMG-67 (M)</td>
            <td>1967</td>
            <td>2,5</td>
        </tr>
        <tr>
            <td>GNSh-29 (F)</td>
            <td>1929</td>
            <td>24,5</td>
        </tr>
        <tr>
            <td>KMM-63 (M)</td>
            <td>1963</td>
            <td>49</td>
        </tr>
        <tr>
            <td>MKhU-50 (F)</td>
            <td>1950</td>
            <td>32</td>
        </tr>
        <tr>
            <td>MRCh-60 (M)</td>
            <td>1960</td>
            <td>34</td>
        </tr>
        <tr>
            <td>NGA-45 (F)</td>
            <td>1945</td>
            <td>12</td>
        </tr>
        <tr>
            <td>NIA-53 (M)</td>
            <td>1953</td>
            <td>9</td>
        </tr>
        <tr>
            <td>SGL-61 (M)</td>
            <td>1961</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
<br />
<p>
    We undertook the second expedition in 2021 to the villages Ilchebaga (Ust’-Ishimsky District) and Tavinsk (Tevriz District) Omsk Oblast, Siberia, Russia.
    We recorded about 5 hours of audio and 1 hour video from 13 speakers from our second expedition. These data have not yet been published. If you are interested in this audio and video data, then write to <a href="/Home/Contact">the author of this site</a>. An example of a video from this expedition, see below.
</p>
<br />
<p><iframe width="490" height="320" src=https://www.youtube.com/embed/xD_0v8xjJSs
        frameborder="0" allowfullscreen></iframe></p>
<br />
<p><b>Map of the dialects of the Siberian Tatar language:</b></p>
<img src="/Content/sibtat.png" width="444" height="349" border="0" alt="Map of the dialects of the Siberian Tatar language">
<p>This image of map of dialects is protected by copyright. <a href="https://turkic.elegantlexicon.com/lx.php?lx=stt">Copyright &#169; 2018-2022 Christopher A. Straughn.</a></p>

