
@{
    ViewBag.Title = "Siberian Ingrian Finnish Talking Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Siberian Ingrian Finnish Talking Dictionary</h4>
<p>If you don't see the dictionary, please go to the link: <a href="http://lexeme.net/SiberianIngrianFinnish/Index">Siberian Ingrian Finnish Talking Dictionary</a></p>

