
@{
    ViewBag.Title = "Context";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Context</h4><br />
<h4>@ViewBag.Message</h4>
<p>@Html.ActionLink("Back", "Index", "SiberianIngrianFinnish")</p>
<a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>



