@using Lexeme.Models
@model WordViewModel
@{
    ViewBag.Title = "Siberian Ingrian Finnish words";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-family:Arial">
    <h2>Index</h2>
    @using (Html.BeginForm())
    {
        @Html.ListBoxFor(m => m.SelectedWordText, Model.Words, new { size = 5 })
        <br />
        <input type="submit" value="Submit" />
    }
</div>

