@{
    ViewBag.Title = "About the Lexeme.Net System";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<p>Lexeme.Net is a system for managing speech corpora for endangered languages. This system provides following features: the storage of audio data, data processing, representing of speech information to users. This system will have special features for the documentation and revitalization of endangered languages.</p>
<p>Source code of the Lexeme site in our working repository: <a href="https://github.com/ubaleht/Lexeme">The Lexeme site</a><br />
    Source code of tools for processing ELAN annotation files: <a href="https://github.com/ubaleht/ELAN">Tools for processing ELAN annotation files</a><br />
    Working repositories for language data: <br />
    <a href="https://github.com/ubaleht/SiberianIngrianFinnish">The Siberian Ingrian Finnish language</a><br />
    <a href="https://github.com/ubaleht/SiberianTatar">The Siberian Tatar language (the dialects of the Siberian Tatars)</a><br />
    <a href="https://github.com/ubaleht/DialectsOfSiberianEstonians">The Dialects of the Siberian Estonians</a><br />
    We plan to add other endengered languages in the future.
</p>
<p>
    <b>If you want to help the project:</b><br />
    Patreon: <a href="https://patreon.com/ubaleht">patreon.com/ubaleht</a>
</p>
