@{
    ViewBag.Title = "About the Lexeme System";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lexeme is a system for managing speech corpora for endangered languages. This system provides following features: the storage of audio data, data processing, representing of speech information to users. This system will have special features for the documentation and revitalization of endangered languages.
 Site source code in our working repository <a href="https://github.com/ubaleht/Lexeme">the Lexeme site</a>. Working repositories for language data: <br />
<a href="https://github.com/ubaleht/SiberianIngrianFinnish">The Siberian Ingrian Finnish language</a><br />
<a href="https://github.com/ubaleht/SiberianTatar">The Siberian Tatar language (the dialects of the Siberian Tatars)</a><br />
<a href="https://github.com/ubaleht/DialectsOfSiberianEstonians">The Dialects of the Siberian Estonians</a><br />
We plan to add other endengered languages in the future.
</p>
