@{
    ViewBag.Title = "Contact";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<p>
    Ivan Ubaleht<br />
    Omsk, UTC+06:00<br />
    Phone number: +7 905 923 81 34<br />
    E-mail: ivan at ubaleht dot com<br />
    Facebook: <a href="https://fb.me/ubaleht">fb.me/ubaleht</a><br />
    GitHub: <a href="https://github.com/ubaleht">github.com/ubaleht</a><br />
    Patreon: <a href="https://patreon.com/ubaleht">patreon.com/ubaleht</a>
</p>