@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ivan Ubaleht<br />
    Omsk State Technical University<br />
    Omsk sity, Russian Federation UTC+06:00<br />
    Phone number: +7 905 923 81 34<br />
    E-mail: ivan at ubaleht dot com<br />
    Facebook: <a href="https://fb.me/ubaleht">fb.me/ubaleht</a><br />
    GitHub: <a href="https://github.com/ubaleht">github.com/ubaleht</a><br />
</p>