@{
    ViewBag.Title = "Lexeme.Net";
}

<div class="jumbotron">
    <p class="lead">
        Lexeme.Net is a system for managing speech corpora for endangered languages.
    </p>
    <!--<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h3>The Siberian Ingrian Finnish Language</h3>
        <p><a class="btn btn-default" href="/SiberianIngrianFinnish/Index">Get Started &raquo;</a></p>
        <p>
            Siberian Ingrian Finnish – is a language (dialect) used by the descendants of the settlers who spoke Lower Luga Ingrian Finnish varieties and Lower Luga Ingrian (Izhorian) who have been living in Omsk oblast (previously they lived also in other regions of the Siberia) for more than 200 years. The ancestors of the speakers of Siberian Ingrian Finnish came from the Lower Luga area in the early 19th century.
        </p>
    </div>
    <div class="col-md-4">
        <h3>The Siberian Tatar Language</h3>
        <h4>&nbsp;</h4>
        <p><a class="btn btn-default" href="/SiberianTatar/Index">Get Started &raquo;</a></p>
        <p>At present, there are around 100,000 people are spoken in Siberian Tatar. The language of Siberian Tatars consists of three dialect groups: Tobolo-Irtysh, Tom and Baraba. <a href="/SiberianTatar/About">See Info</a> about audio data of the Sibetian Tatar language from our expeditions</p>
    </div>
    <div class="col-md-4">
        <h3>The Dialects of the Siberian Estonians</h3>
        <p><a class="btn btn-default" href="/DialectsOfSiberianEstonians/Index">Get Started &raquo;</a></p>
        <p>At present, there are several interesting dialects of the Estonian language, in Siberia. <b>Corpus and talking dictionary for these dialects are currently in progress...</b></p>
    </div>
</div>