@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <p class="lead">
        Lexeme is a system for managing speech corpora for endangered languages.
    </p>
    <!--<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h3>The Siberian Ingrian Finnish Language</h3>
        <p><a class="btn btn-default" href="">Get Started &raquo;</a></p>
        <p>
            The Siberian Ingrian Finnish language. Siberian Ingrian Finnish – is a language (dialect) used by the descendants of the settlers who spoke Lower Luga Ingrian Finnish varieties and Lower Luga Ingrian (Izhorian) who have been living in Omsk oblast (previously they lived also in other regions of the Siberia) for more than 200 years. The ancestors of the speakers of Siberian Ingrian Finnish came from the Lower Luga area in the early 19th century.
        </p>
    </div>
    <div class="col-md-4">
        <h3>The Dialects of the Siberian Tatars</h3>
        <p><a class="btn btn-default" href="">Get Started &raquo;</a></p>
        <p>At present, there are around 100,000 people are spoken in these dialects. The language of Siberian Tatars consists of three dialect groups: Tobolo-Irtysh, Tom and Baraba. Corpus is currently in progress...</p>
    </div>
    <div class="col-md-4">
        <h3>The Dialects of the Siberian Estonians</h3>
        <p><a class="btn btn-default" href="">Get Started &raquo;</a></p>
        <p>At present, in Siberia there are several dialects of the Estonian language. Corpus is currently in progress...</p>
    </div>
</div>