
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>The Dialects of the Siberian Estonians</h4>
<p><b>Corpus and talking dictionary of the dialects of the Siberian Estonians are currently in progress... Please wait...</b></p>
<p>The speech data are available in our work repository on GitHub and licensed under a Creative Commons Attribution 4.0 license (CC BY 4.0): <a href="https://github.com/ubaleht/DialectsOfSiberianEstonians">The Dialects of the Siberian Estonians</a></p>
<p><b>Estonian villages in Siberia</b></p>
<p>This image is protected by copyright. Copyright &#169; REGIO 2005 KL-472. This image from <a href="https://www.folklore.ee/pubte/eraamat/siberilaulud/eestlased/ee-01-02.html">www.folklore.ee</a></p>
<img src="/Content/siberi_kaart.png" width="1200" height="983" border="0" alt="Estonian villages in Siberia">

